<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wilio Survey, Quotation, Review and Register form Wizard by Ansonika.">
    <meta name="author" content="Ansonika">
    <title>KSUM | DATA REQUEST FORM</title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" type="image/x-icon" href="/ksum_dataimg/logo.svg">
   
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/ksum_datacss/bootstrap.min.css" rel="stylesheet">
	<link href="/ksum_datacss/menu.css" rel="stylesheet">
    <link href="/ksum_datacss/style.css" rel="stylesheet">
	<link href="/ksum_datacss/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/ksum_datacss/custom.css" rel="stylesheet">
	
	<!-- MODERNIZR MENU -->
	<script src="/ksum_datajs/modernizr.js" is:inline></script>

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	

	<!-- /menu -->
	
	<div class="container-fluid full-height">
		<div class="row row-height">
			<div class="col-lg-6 content-left">
				<div class="content-left-wrapper">
					<a href="https://startupmission.kerala.gov.in/" target="_blank" id="logo"><img src="/ksum_dataimg/logo-white.svg" class=" w-20"></a>
					<div id="social">
						<ul>
							<li><a  href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="icon-facebook"></i></a></li>
							<li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fstartup_mission" target="_blank" ><i class="icon-twitter"></i></a></li>
							<li><a href="https://startupmission.kerala.gov.in/" target="_blank"><i class="icon-google"></i></a></li>
							<li><a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
					<!-- /social -->
					<div class=" text-start w-full">
						<!-- <figure><img src="/ksum_dataimg/info_graphic_1.svg" alt="" class="img-fluid"></figure> -->
						<h2 class=" mb-20">INFORMATION</h2>
						<div class=" space-y-4">
							<div>
								<div class=" text-white text-lg">Sheet Name</div>
								<div class=" flex items-end justify-end  "><a  class=" bg-white p-2  text-black cursor-pointer rounded ">Download Now</a></div>
							</div>
	
							<div>
								<div class=" text-white text-lg">Sheet Name</div>
								<div class=" flex items-end justify-end  "><a  class=" bg-white p-2  text-black cursor-pointer rounded ">Download Now</a></div>
							</div>
	
							<div>
								<div class=" text-white text-lg">Sheet Name</div>
								<div class=" flex items-end justify-end  "><a  class=" bg-white p-2  text-black cursor-pointer rounded ">Download Now</a></div>
							</div>
						</div>
					</div>
				</div>
				<!-- /content-left-wrapper -->
			</div>
			<!-- /content-left -->

			<div class="col-lg-6 content-right" id="start">
				<div id="wizard_container">
					<div id="top-wizard" class="">
							<div id="progressbar"></div>
						</div>
						<form id="wrapped" method="POST">
							<div id="zf_div_z4xOEUnf7CJAPeDVZ054ewmnL_NAQ2pkc1l_5mVtzN4"></div><script type="text/javascript">(function() {
								try{
								var f = document.createElement("iframe");
								f.src = 'https://forms.zohopublic.com/keralastartupmission/form/KSUMDATAREQUEST/formperma/z4xOEUnf7CJAPeDVZ054ewmnL_NAQ2pkc1l_5mVtzN4?zf_rszfm=1';
								f.style.border="none";
								f.style.height="100%";
								f.style.width="100%";
								f.style.transition="all 0.5s ease";
								f.setAttribute("aria-label", 'Data\x20Request\x20Form');
								
								var d = document.getElementById("zf_div_z4xOEUnf7CJAPeDVZ054ewmnL_NAQ2pkc1l_5mVtzN4");
								d.appendChild(f);
								window.addEventListener('message', function (){
								var evntData = event.data;
								if( evntData && evntData.constructor == String ){
								var zf_ifrm_data = evntData.split("|");
								if ( zf_ifrm_data.length == 2 ) {
								var zf_perma = zf_ifrm_data[0];
								var zf_ifrm_ht_nw = ( parseInt(zf_ifrm_data[1], 10) + 15 ) + "px";
								var iframe = document.getElementById("zf_div_z4xOEUnf7CJAPeDVZ054ewmnL_NAQ2pkc1l_5mVtzN4").getElementsByTagName("iframe")[0];
								if ( (iframe.src).indexOf('formperma') > 0 && (iframe.src).indexOf(zf_perma) > 0 ) {
								var prevIframeHeight = iframe.style.height;
								if ( prevIframeHeight != zf_ifrm_ht_nw ) {
								iframe.style.height = zf_ifrm_ht_nw;
								}
								}
								}
								}
								}, false);
								}catch(e){}
								})();</script>
						</form>
					</div>
					<!-- /Wizard container -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!-- COMMON SCRIPTS -->
	<script src="/ksum_datajs/jquery-3.7.1.min.js" is:inline></script>
    <script src="/ksum_datajs/common_scripts.min.js" is:inline></script>
	<script src="/ksum_datajs/velocity.min.js" is:inline></script>
	<script src="/ksum_datajs/functions.js" is:inline></script>

	<!-- Wizard script -->
	<script src="/ksum_datajs/survey_func.js" is:inline></script>

</body>
</html>